.clothes-card {
    display: flex;
    flex-direction: column;
}

.clothes-card__link {
    text-decoration: none;
    color: inherit;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 5px;
    transition: .2s;
}

.clothes-card__link:hover .clothes-card__image {
    filter: brightness(1.05) grayscale(10%);
}

.clothes-card__link:focus {
    outline: 2px dashed #000;
}

.clothes-card__link:active {
    outline: none;
}

.clothes-card__image {
    width: 295px;
    height: 298px;
    object-fit:cover;
    border-radius: 20px;
    transition: .3s;
}

.clothes-card__title {
    font-size: 1.25em;
    margin-top: 16px;
    margin-bottom: 8px;
}

.clothes-card__price {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 0;
}