.shop-list {
    flex-grow: 1;
}

.shop-list__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop-list__title {
    font-size: 2em;
    margin: 0;
}

.shop-list__info {
    display: flex;
    gap: 12px;
    align-items: center;
    color: #00000060;
}

.shop-list__results {
    margin: 0;
}

.shop-list__sort:hover .shop-list__sort__dropdown {
    visibility: visible;
    opacity: 1;
}

.shop-list__sort-button {
    border: none;
    background-color: inherit;
    color: #000;
    font-size: 1em;
    padding: 0 0;
    align-items: center;
    cursor: pointer;
}

.shop-list__sort-button > img {
    margin-left: 4px;
    position: relative;
    top: 2px;
}

.shop-list__sort__dropdown {
    position: absolute;
    z-index: 3;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s linear, opacity 0.2s linear;
}

.shop-list__sort__dropdown-button {
    background-color: #fff;
    color: #000;
    border: none;
    height: 100%;
    width: 100%;
    padding: 6px 14px;
    font-size: 1em;
    text-align: start;
    cursor: pointer;
    transition: .3s;
}

.shop-list__sort__dropdown-button:hover {
    color: #00000060;
}

.shop-list__inner {
    display: flex;
    flex-wrap: wrap;
    column-gap: 19px;
    row-gap: 31px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.shop-list__hr {
    height: 1px;
    border: none;
    background-color: #00000010;
    margin: 0;
}

.shop-list__triggers {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.shop-list__triggers button {
    border-radius: 8px;
    background: inherit;
    padding: 8px 14px;
    cursor: pointer;
}

.shop-list__left-trigger,
.shop-list__right-trigger {
    border: 1px solid #00000010;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: .3s;
}

.shop-list__left-trigger:hover,
.shop-list__right-trigger:hover {
    background-color: #f0f0f0;
}

.shop-list__left-trigger:disabled img,
.shop-list__right-trigger:disabled img {
    opacity: .3;
}

.shop-list__left-trigger:disabled:hover,
.shop-list__right-trigger:disabled:hover {
    background-color: transparent;
}

.shop-list__pages-triggers {
    display: flex;
    gap: 2px;
}

.shop-list__pages-triggers button {
    border: 1px solid transparent;
    padding: 10px 12px;
    color: #00000050;
    transition: .3s;
}

.shop-list__pages-triggers button:hover {
    border: 1px solid #00000010;
}

.shop-list__pages-triggers > .active {
    background-color: #00000006;
    color: #000;
}