.main-comments {
    padding: 80px 0;
    overflow: hidden;
}

.main-comments__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-comments__title {
    font-family: Integral CF;
    font-size: 3em;
    margin-bottom: 40px;
}

.main-comments__triggers {
    display: flex;
    gap: 16px;
}

.main-comments__triggers > button {
    border: none;
    background-color: inherit;
    transition: .3s;
}

.main-comments__triggers > button:disabled {
    filter: opacity(40%);
}

.main-comments__inner {
    display: flex;
    gap: 20px;
    transition: .6s;
}

.main-comments__card-wrapper {
    min-width: 400px;
}
