.brands {
    height: 122px;
    width: 100%;
    background-color: #000;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.brands__inner {
    display: flex;
    gap: 106px;
    animation: run 30s infinite linear;
}

.brand-image {
    height: 35px;
}

.brands__inner.second{
    margin-left: 106px;
}

@keyframes run {
    from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-1502.03px - 106px));
      }
}