.comment-card {
    padding: 28px 32px;
    border-radius: 20px;
    border: 1px solid #00000010;
    height: 200px;
}

.comment-card__username {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.comment-card__text {
    margin: 0;
}