.breadcrumbs {
    display: flex;
    padding: 24px 0;
}

.breadcrumbs div {
    display: flex;
}

.breadcrumbs__link {
    color: rgba(0, 0, 0, 0.60);
    text-decoration: none;
    outline: none;
}

.breadcrumbs__link::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background-color: rgba(0, 0, 0, 0.40);
    transition: .24s;
}

.breadcrumbs__link:hover::after, .breadcrumbs__link:focus::after {
    width: 100%;
}

.breadcrumbs__link:last-child {
    color: #000;
}

.breadcrumbs__link:last-child::after {
    background-color: #000;
}

.breadcrumbs__arrow {
    margin-left: 6px;
    margin-right: 12px;
}